.admin {
  padding-bottom: 60px;
}

.admin-room {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="number"] {
  padding: 5px;
  width: 80px;
  border-radius: 3px;
}

.addBotBtn {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.addBotBtn:hover {
  background-color: #0056b3;
}

.addBotBtn:focus {
  outline: none;
}

.bot-stats {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.bot-stats h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bot-stats p {
  font-size: 1rem;
  margin: 5px 0;
}

.bot-stats span {
  font-weight: bold;
  color: #007bff;
}

.admin-stats-container {
  max-width: 800px;
  margin: 0 auto;
}

.admin-stats-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.admin-stats-column {
  flex-basis: calc(100% / 9);
  text-align: center;
  font-family: Arial, sans-serif;
}

.admin-stats-header {
  font-weight: bold;
  background-color: #f2f2f2;
}

.admin-stats-row:nth-child(even) {
  background-color: #f2f2f2;
}
