.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.games__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

.game {
  width: 500px;
  background-color: #ccc;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.game * {
  text-decoration: none;
  color: #000;
}

.loto-room__body {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
}

.game__until-start {
  display: flex;
  justify-content: end;
  gap: 0 10px;
}

.game__until-finish {
  display: flex;
  justify-content: end;
  gap: 0 10px;
}

.game__until-start,
.game__room-bank {
  text-align: end;
}
