.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.games__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

.game {
  width: 500px;
  background-color: #ccc;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.game-started {
  background-color: #c7a5ff;
}

.room-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.room-loader::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.game * {
  text-decoration: none;
  color: #000;
}

.loto-room__body {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
}

.game__until-start {
  display: flex;
  justify-content: end;
  gap: 0 10px;
}

.game__until-finish {
  display: flex;
  justify-content: end;
  gap: 0 10px;
}

.game__until-start,
.game__room-bank {
  text-align: end;
}

.game__room-jackpot {
  background-color: #f700ff;
  display: block;
  max-width: max-content;
  padding: 5px 10px;
}
