.header__container {
  max-width: 1600px;
  justify-content: center;
  padding: 0 20px;
}

header {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}

header a {
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  font-size: 28px;
  display: flex;
  align-items: center;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #fff;
}

.header__user button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__container {
    padding: 0 7px;
  }
  header {
    min-height: 50px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__user {
    gap: 15px;
  }

  .header__name {
    font-size: 16px;
    display: none;
  }
  .header__user p {
    font-size: 16px;
  }

  .header__user button {
    padding: 7px 14px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
}
