.loto-game-room-page {
  background-color: rgb(224, 224, 224);
  position: relative;
  background: url("../img/bg.png") no-repeat 0 0 / cover;
  min-height: 100vh;
  padding-bottom: 40px;
}

.loto-game-room-page .loto-gameinfo__wrapper {
  width: 100%;
  /* border-radius: 10px; */
  border: 1px solid #777;
  background: linear-gradient(180deg, #88143f 0%, #780d35 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.loto-game-room-page .loto-room__gameinfo {
  border-radius: 0;
  border: 0px solid #777;
  background: inherit;
  box-shadow: none;
}

.loto-game-room-page .loto-gameinfo__jackpot-block-wrapper .room-jackpot {
  position: relative;
  left: 0;
  top: 0;
}

.loto-game-room-page .room-jackpot {
  position: absolute;
  left: 30px;
  top: 15px;
  display: flex;
  align-items: center;
}
.loto-game-room-page .room-jackpot .room-jackpot-sum {
  min-width: 90px;
  display: block;
  position: relative;
  border-radius: 5px;
  border: 1px solid #777;
  background: var(--linear, linear-gradient(180deg, #a27114 0%, #f0e274 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 94%;
  padding: 8px 10px;
  margin-right: 7px;
  margin-left: 32px;
}
.loto-game-room-page .room-jackpot .room-jackpot-sum img {
  position: absolute;
  width: 32px;
  height: 100%;
  left: 0;
  top: 0;
  transform: translatex(-100%);
}

.loto-game-room-page .room-jackpot .room-jackpot-question {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #777;
  background: var(--linear, linear-gradient(180deg, #78010b 0%, #d32433 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* flex: 0 0 45px; */
  width: 37px;
  height: 37px;
  cursor: pointer;
}
.loto-game-room-page .room-jackpot .room-jackpot-question img {
  /* flex: 0 0 50%; */
  width: auto;
  height: 50%;
}

@media (max-width: 1240px) {
  .loto-game-room-page .room-jackpot {
    /* left: 110px; */
    top: 10px;
  }
  .loto-game-room-page .room-jackpot .room-jackpot-sum {
    font-size: 16px;
  }
  .loto-game-room-page .room-jackpot .room-jackpot-question {
    width: 33px;
    height: 33px;
  }
  .loto-game-room-page .room-jackpot .room-jackpot-sum img {
    width: 26px;
  }
}

/* ============= page content ================= */

.loto-game-room-page-content {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loto-game-room__gameinfo {
  background-color: #8e8e8f;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.loto-game-room__gameprocess {
  background-color: #780d34;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 20px;
  min-width: 400px;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  transform: rotate(180deg);
  position: sticky;
  top: 35px;
}

.loto-gameinfo__information-left {
  text-align: center;
  padding: 10px;
  background-color: #78010b;
  color: #fff;
  width: 100%;
  align-self: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.loto-game-room__cask.active {
  transform: scale(1.35) rotate(180deg);
}

.loto-game-room__cask {
  transition: all 0.5s ease;
  border-radius: 50%;
  background: #f6ba9e;
  border: 6px solid #550007;
  /* padding: 10px 10px; */
  width: 45px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  position: relative;
}

@media (max-width: 767px) {
  .loto-game-room__cask {
    width: 40px;
    height: 40px;
  }

  .loto-game-room__gameprocess {
    min-width: 380px;
  }

  .loto-game-room__cask {
    width: 48px;
    height: 48px;
  }
  .ticket-container {
    width: fit-content;
    padding: 0 10px 10px 10px;
  }
  .cask-number {
    width: 16px !important;
    height: 16px !important;
    font-size: 10px !important;
  }
}

@media (max-width: 439px) {
  .loto-game-room__cask {
    width: calc(100vw / 6 - 20px);
    height: calc(100vw / 6 - 20px);
    border: 4px solid #550007;
    font-size: 18px;
  }
  .loto-game-room__gameprocess {
    min-width: 100%;
    gap: 15px;
  }
}

@media (max-width: 399px) {
  .loto-game-room__cask {
    width: calc(100vw / 6 - 15px);
    height: calc(100vw / 6 - 15px);
    border: 4px solid #550007;
  }
  .loto-game-room__gameprocess {
    min-width: 100%;
    gap: 10px;
  }
}

@media (max-width: 359px) {
  .loto-game-room__cask {
    width: calc(100vw / 6 - 15px);
    height: calc(100vw / 6 - 15px);
    border: 4px solid #550007;
  }
  .loto-game-room__gameprocess {
    min-width: 100%;
    padding: 15px;
    gap: 10px;
  }
}

.cask-number {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: rgb(113, 163, 255);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.loto-game-room__main {
  flex: 1 1 auto;
}

.loto-gamemain__body {
  display: flex;
  min-height: 400px;
}
.empty-left-sidebar {
  background-color: rgb(11, 129, 7);
  flex: 0 0 300px;
  height: unset;
}

.information-sidebar {
  padding: 10px 10px;
  background-color: rgb(11, 129, 7);
  color: #ffffff;
  flex: 0 0 300px;
  height: unset;
  font-size: 18px;
}

.loto-game-room__main {
  flex: 1 1 auto;
}

.auto-play {
  padding: 10px 15px;
  font-size: 18px;
  display: block;
  cursor: pointer;
}

.auto-play.active {
  background-color: green;
}

/* .room-jackpot {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #b791ff;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
} */
