.loto-room-page {
  background-color: #0e5f0b;
}

.loto-room-content {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loto-room-page__exit {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: red;
  padding: 10px 10px;
  font-size: 18px;
}

.loto-room-page__timer {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
  padding: 10px 10px;
  font-size: 18px;
}

.loto-room__gameinfo {
  background-color: #8e8e8f;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.loto-room__main {
  flex: 1 1 auto;
}

.loto-room__controlls {
  background-color: #8e8e8f;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
}

.loto-room__controlls .loto-gamecontrolls__buy {
  padding: 40px 20px;
  background-color: #9ecf17;
  flex: 1 1 50%;
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.loto-room__controlls .loto-gamecontrolls__counter {
  flex: 1 1 50%;
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
}

.loto-room__controlls
  .loto-gamecontrolls__counter
  .loto-gamecontrolls__counter__minus {
  padding: 10px 10px;
  background: rgb(253, 253, 253);
  color: red;
  font-size: 20px;
  user-select: none;
}

.loto-room__controlls
  .loto-gamecontrolls__counter
  .loto-gamecontrolls__counter__plus {
  padding: 10px 10px;
  background: rgb(253, 253, 253);
  color: green;
  font-size: 20px;
  user-select: none;
}

.loto-room__controlls
  .loto-gamecontrolls__counter
  .loto-gamecontrolls__counter__value {
  padding: 10px 10px;
  background: rgb(253, 253, 253);
  font-size: 20px;
  user-select: none;
}

/* ticket */

.loto-gamemain__ticket {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  gap: 0;
  justify-content: center;
}

.loto-gamemain__ticket.bought-ticket .ticket-cell {
  background-color: #e3f8a9;
}

.loto-gamemain__ticket:not(:last-child) {
  margin-bottom: 20px;
}
.ticket-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #b9b9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #000;
  background: #cacaca;
}

.ticket-cell.active {
  background: #63d45f;
}
