.loto-game-room-page {
  background-color: rgb(224, 224, 224);
  position: relative;
}

.loto-game-room-page-content {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loto-game-room__gameinfo {
  background-color: #8e8e8f;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.loto-game-room__gameprocess {
  background-color: #8e8e8f;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font-size: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

  transform: rotate(180deg);
}

.loto-game-room__cask {
  border-radius: 50%;
  background-color: #fff;
  /* padding: 10px 10px; */
  width: 45px;
  height: 45px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  position: relative;
}

.cask-number {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: rgb(113, 163, 255);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.loto-game-room__main {
  flex: 1 1 auto;
}

.loto-gamemain__body {
  display: flex;
  min-height: 400px;
}
.empty-left-sidebar {
  background-color: rgb(11, 129, 7);
  flex: 0 0 300px;
  height: unset;
}

.information-sidebar {
  padding: 10px 10px;
  background-color: rgb(11, 129, 7);
  color: #ffffff;
  flex: 0 0 300px;
  height: unset;
  font-size: 18px;
}

.loto-game-room__main {
  flex: 1 1 auto;
}

.auto-play {
  padding: 10px 15px;
  font-size: 18px;
  display: block;
  cursor: pointer;
}

.auto-play.active {
  background-color: green;
}

.room-jackpot {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #b791ff;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}
