.popup {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
}

.popup__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 24px;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.popup__content_won {
  background-color: #007d00;
}

.popup__content_won * {
  color: #fff;
}

.popup__button {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.popup__text {
  width: 100%;
  font-size: 18px;
}

.popup__close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
}

/* make x from ::before and after */

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 2px;
  background-color: #000;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
