.profile-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 10px;
  background: url("../img/bg.png") no-repeat 0 0 / cover;
  min-height: 100vh;
}

.profile-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-page__header h2 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 78.368% */
}

.profile__buttons {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__buttons input {
  width: 100%;
}

.profile-info__form > p {
  margin: 5px 10px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 134.345% */
}

:-ms-input-placeholder {
  color: #c9c9c9;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 188.083% */
}

.profile__button {
  border-radius: 10px;
  border: 1px solid #777;
  background: linear-gradient(180deg, #88143f 0%, #780d35 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
  color: #fff;
}

.profile__save {
  border-radius: 10px;
  background: var(--linear, linear-gradient(180deg, #78010b 0%, #d32433 100%));
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 1.709844708442688px
    rgba(0, 0, 0, 0.24);
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  color: #fff;
}

.profile-page__header-subtitle {
  color: #c9c9c9;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 78.368% */
}

.curpointer {
  cursor: pointer;
}

.bg-white {
  background: url("../img/bg-white.png") no-repeat 0 0 / cover, #fff;
}

.profile__button p {
  flex: 1 1 auto;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 104.491% */
  letter-spacing: 1.98px;
  text-transform: uppercase;
}

.profile__button .profile__balance {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px;
}

.profile__button-text span {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 18.808px; /* 134.345% */
}

.profile__button-switcher {
  display: flex;
  width: 100px;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
}

.profile__button-switcher button {
  padding: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px;
  letter-spacing: 1.54px;
  background-color: rgba(0, 0, 0, 0);
}

.profile__button-switcher button.active {
  color: #ca0606;
}

@media (max-width: 450px) {
  .profile-page__header img {
    height: 120px;
  }

  .profile__button p {
    font-size: 16px;
  }

  .profile__button .profile__balance {
    font-size: 20px;
  }

  .profile__button-text span {
    font-size: 12px;
  }

  .profile__button-switcher {
    width: 80px;
  }

  .profile__button-switcher button {
    font-size: 12px;
  }
}

.profile-page__footer button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px; /* 117.552% */
  letter-spacing: 1.76px;
  margin-top: 20px;
}

.profile__button-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 5px;
}

.profile-page__card {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 750px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background: url("../img/bg-card-red.png") 50% / cover no-repeat;
  padding: 30px;
}

.profile-page__card-username {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.52px;
}

.profile-page__card-balance {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 7.04px;
}

.profile-page__card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.profile-page__card-button {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.profile-page__footer.black * {
  color: #000;
}

.profile-page__footer.black .go-back {
  color: #000;
}
.profile-page__footer.black .go-back p {
  color: #000;
}

.profile-page.deposit {
  justify-content: space-around;
  min-height: 100vh;
}

.profile-page__card-button.red {
  background: var(--linear, linear-gradient(180deg, #78010b 0%, #d32433 100%));
}

.profile-page__card-button.yellow {
  background: var(--linear, linear-gradient(180deg, #a27114 0%, #f0e274 100%));
}

@media (max-width: 450px) {
  .profile-page__card {
    height: 180px;
    padding: 20px;
  }

  .profile-page__card-username {
    font-size: 14px;
  }

  .profile-page__card-balance {
    font-size: 28px;
  }

  .profile-page__card-button {
    font-size: 12px;
  }
}

.deposit__content {
  width: 100%;
  max-width: 650px;
}

.button__credit-cards {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.button__credit-card {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  user-select: none;
  border-radius: 10px;
  border: 1px solid #777;
  background: linear-gradient(180deg, #88143f 0%, #780d35 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex: 1 1 auto;
  height: 64px;
}

.credit-card__text {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.credit-card__text .bold {
  font-size: 12px;
  font-weight: 500;
}

.credit-card__text p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 18.808px; /* 134.345% */
}

.logo-deposit {
  width: 200px;
  height: 100px;
}

.profile-page.deposit {
  justify-content: space-around;
  min-height: 100vh;
}

.profile-page.deposit * {
  color: #fff;
}

.deposit__form {
  max-width: 650px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #d3d3d3;
  background: linear-gradient(
      180deg,
      rgba(159, 72, 72, 0.2) 0%,
      rgba(159, 72, 72, 0.14) 27.6%,
      rgba(159, 72, 72, 0.08) 60.42%,
      rgba(159, 72, 72, 0) 100%
    ),
    linear-gradient(180deg, #572451 0%, rgba(71, 100, 204, 0.64) 100%);
  padding: 40px;
  margin-top: 45px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.deposit__form-username,
.deposit__form-money h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.52px;
}

.deposit__form-money {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.deposit__form-content {
  width: 250px;
}

.deposit__form-sum {
  border-radius: 9.167px;
  border: 1px solid #fff;
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 0px
    rgba(0, 0, 0, 0.28);
  padding: 6px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  width: 100% !important;
  color: #fff;
  margin: 0 0 5px 0;
}

.deposit__form-button {
  border-radius: 9.167px;
  border: 1px solid #fff;
  background: var(--linear, linear-gradient(180deg, #78010b 0%, #d32433 100%));
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 0px
    rgba(0, 0, 0, 0.28);
  height: 60px;
  padding: 6px;
  width: 80%;
}

@media (max-width: 450px) {
  .logo-deposit {
    width: 140px;
    height: 70px !important;
  }

  .button__credit-cards {
    gap: 20px;
  }

  .deposit__form {
    padding: 20px;
    height: 330px;
  }

  .deposit__form-money {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .credit-card__text {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }

  .credit-card__text .bold {
    font-size: 10px;
    font-weight: 500;
  }
}

.password-form-header {
  max-width: 900px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px 20px;
  font-size: 18px;
  margin-bottom: 40px;
}

.password-form-header__title {
  font-weight: 600;
}

.password-form-main {
  /* height: 100%; */
  background: #aaaaaa;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 25px 25px;
  border-radius: 10px;
  display: block;
}

.profile-block {
  display: flex;
  flex-direction: column;
}

.profile-block__section:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #d9d9d9;
  font-size: 18px;
  cursor: pointer;
}

.button .topup-balance {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #74f840;
  width: 25px;
  height: 25px;
}

.button.exit {
  background-color: #ff6a6a;
}

.profile-block__item {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.text {
  font-size: 16px;
  font-weight: 500;
}

/*  форма смены пароля */

.password-form-header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-form-header__back {
  width: 30px;
  height: 30px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.password-form-header__title {
  margin: 0;
  font-size: 24px;
}

.password-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.password-form-block {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.password-form-block__section {
  margin-bottom: 20px;
}

.password-form-block__item {
  margin-bottom: 15px;
}

.password-form-block__item label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.password-form-block__item input {
  width: 280px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-form-block__item.password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-form-block__item.password-button:hover {
  background-color: #0056b3;
}

.password-form-block__item.password-button h4 {
  margin: 0;
  font-size: 18px;
  padding: 10px;
}

/* ============= история игр */

.user-game-history-header {
  background-color: #f8f8f8;
  padding: 20px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 40px;
}

.user-game-history-header__back {
  width: 30px;
  height: 30px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-game-history-header__title {
  margin: 0;
  font-size: 24px;
}

.user-game-history__main {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 60px 0;
}

.user-game-history__main .game-item {
  background-color: #eeff8e;
  max-width: 800px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.game-item__tickets-block {
  margin-bottom: 30px;
}

.game-item__row {
  margin-bottom: 10px;
  font-size: 16px;
}

.profile-page__footer {
  display: flex;
  justify-content: center;
}

.m20 {
  margin: 20px 0;
}
