@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

main {
  background: url("../img/bg.png") no-repeat 0 0 / cover;
}

.main__container {
  /* background: url("../img/bg.png") no-repeat 0 0 / cover; */
}

* {
  font-family: "Montserrat";
  user-select: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[disabled] {
  background: #dadada;
}

button,
a {
  user-select: none;
}

.page-preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000065;
  backdrop-filter: blur(5px);
  z-index: 5;
}
.d-none {
  /* display: none !important; */
}

.registration {
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 60;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  background: url("../img/bg.png") no-repeat 0 0 / cover;
}

.registration__container {
}

.registration__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reg-header {
  display: flex;
  align-content: center;
  padding: 24px 0;
}

.registration__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1 1 auto;
}

.registration__logo {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
}

.select-language {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  padding: 7.5px 11.99px 7.5px 12px;
  max-width: 400px;
  cursor: pointer;
}

.select-language__text {
  color: #78010b;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
}

.select-language__text span {
  color: #414141;
  text-align: left;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.select-language__chevron {
  width: 14px;
  height: 3px;
  border-radius: 50px;
  border-top: 7.188px solid #78010b;
  border-right: 7.188px solid #78010b;
  border-left: 7.188px solid #78010b;
  position: absolute;
  right: 10px;
}

.form-header__heading {
  text-transform: uppercase;
  color: #a9010b;
  font-size: 23.938px;
  font-style: normal;
  font-weight: 500;
  line-height: 41.036px; /* 171.429% */
  text-align: center;
}

.form-body-login p {
  margin-left: 12px;
  color: #414141;
  font-size: 11.114px;
  font-style: normal;
  font-weight: 500;
  line-height: 17.953px;
}

.login-button {
  height: 42.746px;
  margin-bottom: 25px;
}

.registration-button {
  margin-bottom: 25px;
  font-size: 12px;
}

.form-body__no-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-body__no-account a {
  width: fit-content;
}

.form-body__no-account button {
  border-radius: 10px;
  background: linear-gradient(180deg, #78010b 0%, #d32433 100%);
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 1.709844708442688px
    rgba(0, 0, 0, 0.24);
  color: #fff;
  text-align: center;
  font-size: 11.684px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.808px;
  height: 26px;
  width: 130px;
}

.registration-form {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 0px
    rgba(233, 237, 22, 0.16);
  padding: 30px;
  color: #000;
  max-width: 400px;
  width: 100%;
  margin-bottom: 60px;
}

@media (max-width: 420px) {
  .select-language {
    width: 220px;
  }

  .registration__logo {
    margin-bottom: 30px;
  }

  .registration-form {
    max-width: 280px !important;
    padding: 10px;
  }

  .form-header__heading {
    font-size: 15.517px;
    font-weight: 500;
    line-height: 26.6px; /* 171.429% */
  }

  .form-body-login p {
    font-size: 12.204px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 161.538% */
  }

  .form-body-login input {
    font-size: 12.204px;
    font-style: normal;
    font-weight: 500;
    line-height: 11.637px; /* 161.538% */
    height: 30.937px;
    padding: 10.481px 6.65px;
    border-radius: 6.482px;
  }

  .form-body__button {
    height: 27.708px;
    padding: 3.879px 75.865px 3.879px 75.976px;
    font-size: 12px;
  }

  .form-body__no-account {
    font-size: 12px;
  }
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.form-header__buttons {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #f4f4f4;
  position: relative;
  margin-bottom: 18px;
}

.form-header__button {
  flex: 0 0 50%;
  text-align: center;
  cursor: pointer;
}

.form-header__button.active {
  color: rgb(86, 128, 243);
}

.registration-form * {
  width: 100%;
}

.indicator-form {
  width: 100%;
  height: 1px;
  background-color: #333333;
  position: relative;
}

.indicator-form__line {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(86, 128, 243);
}

.form-body__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: rgb(86, 128, 243);
  margin-bottom: 16px; /* Assuming rem() is defined elsewhere */
}

.registration-label {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-body__checkbox {
  width: 20px;
  margin-top: 2px;
}

.form-body__link {
  color: brown;
  font-weight: 500;
  cursor: pointer;
}

.form-body__link:hover {
  text-decoration: underline;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-body-login {
}

.form-body-registration {
  margin: 0 0 20px 0;
}

.form-body__input {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  /* background: #575757; */
  border-radius: 8px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #6c757d;
  border-radius: 10px;
  border: 0.855px solid rgba(21, 1, 33, 0.3);
}

.form-body__input::placeholder {
  color: #787878;
}

.form-body__input:not(:last-child) {
  margin-bottom: 8px; /* Assuming rem() is defined elsewhere */
}

.form-body__input._error {
  box-shadow: 0px 0px 10px rgb(235, 62, 62);
}

.form-body__button {
  margin-top: 8px; /* Assuming rem() is defined elsewhere */
  border-radius: 9.167px;
  border: 1px solid #fff;
  background: var(--linear, linear-gradient(180deg, #88143f 0%, #780d35 100%));
  box-shadow: 0px 2.5647671222686768px 5.1295342445373535px 0px
    rgba(0, 0, 0, 0.28);
  cursor: pointer;
  padding: 20px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.form-body__button:hover {
}

.registration.opened {
  transform: translateY(0);
}

.auth-form-error {
  color: red;
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
}

.header__padding {
  padding-top: 100px;
}

.footer__padding {
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  .header__padding {
    padding-top: 80px;
  }

  .footer__padding {
    padding-bottom: 90px;
  }
}

@media (max-width: 439px) {
  .header__padding {
    padding-top: 70px;
  }
}

/* ================================ */
.d-none {
  display: none !important;
}

.main__container {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  display: block;
  /* overflow: hidden; */
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #000;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
