.registration {
  transition: transform 0.3s ease;
  background-color: rgba(70, 70, 70, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 60;
  width: 100vw;
  backdrop-filter: blur(30px);
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
}

.registration__container {
}

.registration__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.reg-header {
  display: flex;
  align-content: center;
  padding: 24px 0;
}

.reg-close {
  margin-left: auto;
  cursor: pointer;
  padding: 17px 17px;
  background: rgba(244, 244, 244, 0.1);
  border-radius: 8px;
  flex: 0 0 48px;
  height: 48px;
  position: relative;
  transition: all 0.5s ease;
}

.reg-close:hover .reg-close__line {
  background-color: rgb(176, 177, 175);
}

.reg-close__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
}

.reg-close__line:nth-child(1) {
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.reg-close__line:nth-child(2) {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.registration__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.registration-form {
  background: #464646;
  border-radius: 24px;
  padding: 30px 30px;
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin-bottom: 60px;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.form-header__buttons {
  display: flex;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #f4f4f4;
  position: relative;
  margin-bottom: 18px;
}

.form-header__button {
  flex: 0 0 50%;
  text-align: center;
  cursor: pointer;
}

.form-header__button.active {
  color: rgb(86, 128, 243);
}

.registration-form * {
  width: 100%;
}

.indicator-form {
  width: 100%;
  height: 1px;
  background-color: #333333;
  position: relative;
}

.indicator-form__line {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(86, 128, 243);
}

.form-body__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: rgb(86, 128, 243);
  margin-bottom: 16px; /* Assuming rem() is defined elsewhere */
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-body-login {
}

.form-body-registration {
  margin: 0 0 20px 0;
}

.form-body__input {
  position: relative;
  display: inline-block;
  padding: 20px 20px;
  padding: 19px 20px;
  /* background: #575757; */
  border-radius: 8px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #f4f4f4;
  color: #333333;
}

.form-body__input::placeholder {
  color: #787878;
}

.form-body__input:not(:last-child) {
  margin-bottom: 8px; /* Assuming rem() is defined elsewhere */
}

.form-body__input._error {
  box-shadow: 0px 0px 10px rgb(235, 62, 62);
}

.form-body__button {
  margin-top: 8px; /* Assuming rem() is defined elsewhere */
  background: rgb(86, 128, 243);
  box-shadow: 0px 0px 40px rgba(85, 129, 248, 0.6);
  border-radius: 8px;
  cursor: pointer;
  padding: 20px 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.form-body__button:hover {
}

.registration.opened {
  transform: translateY(0);
}

.auth-form-error {
  color: red;
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
}

/* ================================ */
.d-none {
  display: none !important;
}

.main__container {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  display: block;
  /* overflow: hidden; */
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-top-color: #000;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
